table tr th {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sorting {
    background-color: #00a1c9;
}

.asc:after {
    content: " ↑";
}

.desc:after {
    content: " ↓";
}

.contenedor-contratos {
    display: flex;
    flex-direction: row;
}

.tabla {
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
}

.alto-tabla {
    width: 90vw;
    height: 85vh;
}

.cabecera-tabla {
    position: sticky;
    top: -1px;
}

th {
    font-size: 13px;
}

.iconos-horizontal {
    display: flex;
}

.iconos-tamano-margen {
    font-size: 20px !important;
    margin: 0px 3px;
}

.margen-textos {
    padding: 7px;
}

.boton {
    background-color: white !important;
    margin: 2px;
}

.data-text {
    text-transform: lowercase;
    display: inline-block;
    font-size: 12px;
}

.data-text:first-letter {
    text-transform: uppercase;
}

.codigo-proceso {
    width: 55px;
}

body {
    overflow: hidden;
}

/* span, */
td,
a {
    text-align: center;
    font-weight: bold;
}

.color-estado {
    color: #85c914;
}

.circulo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #85c914;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
}

.circulo > span {
    font-size: 13px;
    font-weight: bold;
}

.titulos-borde {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

html {
    background-color: #f3f4f6;
}

.width-columna-acciones {
    width: 80px;
}

.width-columna-menor {
    width: 100%;
}

.width-columna-mayor {
    width: 200px;
}

/*Formatear estilos*/
a {
    color: unset !important;
    text-decoration: none !important;
}

.text-primary {
    --bs-text-opacity: unset !important;
    color: unset !important;
}

.logo-header {
    width: unset !important;
}

.px-4 {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}

a.text-primary,
a.text-primary:hover {
    color: #00a1e0 !important;
    cursor: pointer;
}

.showmore {
    max-height: 150px;
    width: 100%;
    overflow-y: scroll;
}

.contenedor-opciones-usuarios {
    margin-top: -12px;
    width: 130px;
    height: 100vh;
}

#wrapper1 {
    width: 700px;
    border: none 0px RED;
    overflow-x: scroll;
    overflow-y: hidden;
}

div#wrapper1 {
    position: fixed;
}

#wrapper1 {
    height: 20px;
    background-color: #f3f4f6;
}

#div1 {
    height: 20px;
}

.mw-200 {
    min-width: 200px;
}

.mw-90 {
    min-width: 90px;
}

/* Seccion de filtros */
.contenedor-filtros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 91vw;
}

.buscador_rapido {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #e6e6e6;
    padding: 0px 15px 0px 15px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 320px;
}

.buscador_rapido::placeholder {
    color: #8b8b8b;
    font-weight: bold;
    font-size: 13px;
}

.posicion-lupa-contratos {
    position: absolute;
    top: 84px;
    left: 445px;
    width: 13px;
    color: #00a1e0;
}

.text-btn-avanzado {
    color: rgb(58, 182, 0);
    font-size: 14px;
    font-weight: 400;
}

.input-filtro-estado {
    font-size: 13px;
    color: #7c7c7c;
    color: #8b8b8b;
    font-weight: bold;
}

.input-filtro-estado-span {
    margin-right: 8px;
}

.input-visualizar {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #e6e6e6;
    padding: 0px 5px 0px 40px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 13px;
    color: #7c7c7c;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#mensajes-personalizado-busqueda .estructura-mensaje-personalizado {
    max-width: 460px;
}

#mensajes-personalizado-busqueda .titulo-personalizado {
    padding-bottom: 3.75rem;
    max-width: 447px;
    margin: 0 auto;
    color: #c9003d;
}

#mensajes-personalizado-busqueda .mensaje-personalizado {
    font-size: 18px !important;
    max-width: 428px;
    margin-bottom: 0;
    line-height: 1.2;
}

#mensajes-personalizado-busqueda .mensaje-personalizado {
    font-family: Nexa-regular, sans-serif !important;
    color: #686868;
}

#mensajes-personalizado-busqueda .mensaje-icono {
    font-size: 35px !important;
    color: #ffc107;
    position: absolute;
    right: 100%;
    margin-right: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    height: 100%;
}
