html {
    background-color: #b5b5b525;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

table tr {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
}

.sorting {
    background-color: #00a1c9;
}

.asc:after {
    content: " ↑";
}

.desc:after {
    content: " ↓";
}

/* Estilos pagina --------------------------------------------------------------*/

.contenedor-usuarios {
    display: flex;
    height: 90vh;
}

.contenedor-informacion-usuarios {
    margin-top: 10px;
    border-radius: 15px;
}

.usuarios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #00a1c9;
    font-weight: bold;
    font-size: 22px;
    justify-content: space-between;
    height: 40px;
    margin: 15px 0 5px 0;
}

.contenedor-botones {
    display: flex;
    flex-direction: row;
}

.actualizar-color {
    color: #00a1c9;
}

.material-symbols-outlined-color {
    color: white;
}

.margen-titulo {
    margin-left: 500px;
}

.tabla-ubicacion-usuarios {
    overflow: scroll !important;
    width: 90vw;
    height: 75vh;
    font-size: 13px;
}

.cabecera-tabla {
    text-align: center;
    position: sticky;
    top: 0;
}

.iconos-horizontal {
    display: flex;
}

.estilos-boton-eliminar {
    background-color: red;
    width: 25px;
    height: 30px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 10px;
    margin: 3px;
}

.estilos-boton-editar {
    background-color: #00a1c9;
    width: 25px;
    height: 30px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 5px;
    margin: 3px;
}

.estilos-boton-email {
    background-color: rgb(236, 236, 236);
    width: 25px;
    height: 30px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(95, 95, 95);
    padding-top: 3px;
    margin: 3px;
}

.margen-textos {
    padding: 0px 10px;
}

.autorenew {
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    border-bottom: solid 1px #b5b5b5;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    padding: 5px;
    color: black;
}

.add_circle {
    background-color: rgb(58, 182, 0);
    width: 35px;
    height: 35px;
    border-bottom: solid 1px #b5b5b5;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #00a1c9;
    font-weight: bold;
    font-size: 22px;
}

button.btn.btn-danger.btn-sm.usuarios {
    background-color: unset;
    background-image: unset;
    border: unset;
}

button.btn.btn-danger {
    background-color: red;
}

a {
    color: unset !important;
    text-decoration: none !important;
}

.buscador_rapido {
    margin: 8px 25px 15px 22px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #e6e6e6;
    padding: 0px 5px 0px 15px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 350px;
}

.buscador_rapido::placeholder {
    color: #8b8b8b;
    font-weight: bold;
    font-size: 13px;
}

.posicion-lupa-color {
    position: absolute;
    margin: 10px 0px 0px -60px;
    width: 13px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#mensajes-personalizado-busqueda .estructura-mensaje-personalizado {
    max-width: 460px;
}

#mensajes-personalizado-busqueda .titulo-personalizado {
    padding-bottom: 3.75rem;
    max-width: 447px;
    margin: 0 auto;
    color: #c9003d;
}

#mensajes-personalizado-busqueda .mensaje-personalizado {
    font-size: 18px !important;
    max-width: 428px;
    margin-bottom: 0;
    line-height: 1.2;
}

#mensajes-personalizado-busqueda .mensaje-personalizado {
    font-family: Nexa-regular, sans-serif !important;
    color: #686868;
}

#mensajes-personalizado-busqueda .mensaje-icono {
    font-size: 35px !important;
    color: #ffc107;
    position: absolute;
    right: 100%;
    margin-right: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    height: 100%;
}
