.img-allies {
    background-color: white !important;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0 0 0.25em 0.25em rgba(139, 139, 139, 0.25);
}

img {
    object-fit: scale-down;
    width: 75%;
    margin-left: 13px;
}