.container-monitor-size {
display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #dff3f862;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    height: 475px;
    margin-top: 20px;
}

.monitor-text-size {
    height: auto;
    width: 597px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 407px;
}

.monitor-title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #00a1c9;
    font-size: 25px;
    text-align: left;
}

.monitor-text {
    font-family: "Roboto", sans-serif;
    color: #686868;
    font-size: 20px;
    text-align: left;
    margin-bottom: 25px;
}

.img-allies {
    background-color: white !important;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    height: 95px;
    width: 95px;
    box-shadow: 0 0 0.25em 0.25em rgb(139 139 139 / 25%);
}

.allies-grid {
    display: grid;
    grid-template-rows: 80px 80px 80px 80px;
    grid-template-columns: 80px 80px 80px 80px 80px;
    gap: 30px 33px;
    align-items: center;
    margin-top: 10px;
}

.grid-item1 {
    text-align: center;
    justify-self: start;
    align-self: start;
}

.grid-item1 img {
    height: 100%;
}

.grid-item2 {
    text-align: center;
    width: 80px;
    height: 20px;
}

.grid-item2 img {
    height: 100%;
}

.div-text-end {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white !important;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    height: 95px;
    width: 95px;
    box-shadow: 0 0 0.25em 0.25em rgb(139 139 139 / 25%);
    margin-top: 16px;
}

.text-end-grid {
    font-family: "Roboto", sans-serif;
    color: #686868;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.text-end-grid-color {
    color: #00a1c9;
}

.BotonRegistrarse {
    margin-top: 30px;
}
/* font-family: "Poppins", sans-serif;
font-family: "Roboto", sans-serif; */
