.fondo-aviso-cookies{
    display: none;
    background-color: rgba(0,0,0, .20);
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
}

.fondo-aviso-cookies.activo{
    display: block;
}


#modal-content {
    border-radius: 29px !important;
    border: 0 !important;
}

#modal-content {
    position: fixed;
    bottom: 20px;
    left: 10px;
    right: 10px;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 99%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}

.modal-body-aviso-cookies {
    padding: 30px 30px 30px 45px !important;
}


.modal-body-aviso-cookies {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-dialog-popupcookies {
    display: none;
    width: 98%;
    max-width: 100%;
    height: 100%;
    display: none;
    margin: 0 auto;
    align-items: flex-end;
    padding: 0.5rem 0;
}

.modal-dialog-popupcookies.activo{
    display: block;
}

.block__info-p {
    font-family: Roboto;
    font-size: .94rem;
    color: #686868;
    text-align: left;
    padding-right: 7.5rem;
    margin: 0;
}

.block__title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 1rem;
    color: #959595;
}
.block__info-btn {
    background: #fff;
    color: #73c914;
    padding: 7px 17px;
    border-radius: 39px;
    border: 2px solid #73c914;
    font-family: Poppins;
    font-size: .88rem;
    font-weight: 700;
    margin-right: 18px;
}

.block__info-btn:hover {
    background: #73c914;
    color: #fff;
    border: none;
}


.block__info-btn--modifier {
    border: none;
    color: #686868;
}
.block__info-btn--modifier:hover {
    background: #fff;
    color: #686868;
    text-decoration: underline;
}


.block__info{
    display: flex;
   /*  flex-direction: row;
    left: 0;
    justify-content: space-around; */
}
.block__info-a {
    color: #00a1c9;
    font-family: Roboto;
    font-size: .94rem;
    text-align: left;
    text-decoration: underline;
}

.block__info-a:hover {
    color: #00a1c9;
    font-family: Roboto;
    font-size: .94rem;
    text-align: left;
    text-decoration: underline;
}

.fondo-aviso-cookies{
    display: none;
    background-color: #fff;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: transparent linear-gradient(118deg,#ffffff66 0%,#ffffff0d 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}