table tr th {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sorting {
    background-color: #00a1c9;
}

.asc:after {
    content: " ↑";
}

.desc:after {
    content: " ↓";
}

.contenedor-contratos {
    display: flex;
    flex-direction: row;
}

.tabla {
    font-size: 13px;
    text-align: center;
}

.alto-tabla {
    width: auto;
    height: 100vh;
}

.cabecera-tabla {
    position: sticky;
    top: -1px;
}

th {
    font-size: 13px;
}

.iconos-horizontal {
    display: flex;
}

.iconos-tamano-margen {
    font-size: 20px !important;
    margin: 0px 3px;
}

.margen-textos {
    padding: 7px;
}

.boton {
    background-color: white !important;
    margin: 2px;
}

.data-text {
    text-transform: lowercase;
    display: inline-block;
}

.data-text:first-letter {
    text-transform: uppercase;
}

.codigo-proceso {
    width: 55px;
}

/* Seccion de filtros */
.contenedor-filtros {
    display: flex;
    align-items: center;
    margin-left: 110px;
    justify-content: space-between;
}

.buscador_avanzado {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    padding: 0px 15px;
}

.color-texto {
    color: rgb(58, 182, 0);
    font-size: 13px;
}

.input-filtro-estado {
    margin-left: -200px;
    font-size: 13px;
    color: #7c7c7c;
    padding: 0px 15px 0px 0px;
}

.span-visualizar {
    margin-right: 7px;
    color: #8b8b8b;
    font-weight: bold;
}

.input-visualizar {
    margin: 15px 25px 15px 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #e6e6e6;
    padding: 0px 5px 0px 40px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 13px;
    color: #7c7c7c;
    width: 200px !important;
}

.buscador_rapido {
    margin: 15px 25px 15px 22px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #e6e6e6;
    padding: 0px 5px 0px 15px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 350px;
}

.buscador_rapido::placeholder {
    color: #8b8b8b;
    font-weight: bold;
    font-size: 13px;
}

.posicion-color {
    position: absolute;
    margin: 17px 0px 0px -75px;
    width: 13px;
    color: #00a1e0;
}

body {
    overflow-y: hidden;
}

span,
td,
a {
    text-align: center;
    font-weight: bold;
}

.color-estado {
    color: #85c914;
}

.circulo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #85c914;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
}

.circulo > span {
    font-size: 13px;
    font-weight: bold;
}

.titulos-borde {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

html {
    background-color: #f3f4f6;
}

.width-columna-acciones {
    width: 80px;
}

.width-columna-menor {
    width: 100px;
}

.width-columna-mayor {
    width: 200px;
}
