.alert {
    z-index: 9;
    /* Layout Properties */
    /*     top: 629px;
    left: 11px; */
    width: 421px;
    height: 77px;
    /* UI Properties */
    background: var(---ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #68686863;
    border-radius: 11px;
    opacity: 1;
}

.alert-heading {
    font-family: Roboto;
    font-size: 18px;
    color: #686868;
}

.icon-alert {
    color: red;
}

.circle{
    padding: 23px;
    width: 45px;
    height: 45px;
    background: var(---f8dfe7) 0% 0% no-repeat padding-box;
    background: #F8DFE7 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
}