h1, h2, h3, h4, h4, h5, h6, span, p {
    font-family: 'Poppins';
}

.row>* {
    width: unset !important;
}

.c-blue{
    color: #1a2fc9;
}

.c-blue-ligth{
    color: #00a1c9;
}

.c-yellow{
    color: #ffc107;
}

.c-gray{
    color: #686868;
}

.td-none{
    text-decoration: none;
}


.banner-video-paises{
    height:100%;
    position:relative;
    width:auto;
    min-height:540px;
    background:#28b0d2
}

.banner-video-paises__video{
    height:100%;
    position:absolute;
    max-height:100%;
    max-width:100%;
    object-fit:cover;
    overflow:hidden;
    width:100%
}

.banner-video-paises .banner-video-paises__content-banner>div.row{
    min-height:540px;
    flex-direction:column;
    padding-bottom:16px
}

.banner-video-paises .banner-video-paises__content-banner .row{
    position:relative;
    width:100%;
    height:100%;
    margin:0;
    justify-content:center;
    align-items:center;
    align-content:center
}

.banner-video-paises div>h2{
    color:#fff;
    font-family:Poppins;
    font-size:2.813rem;
    font-weight:700;
    text-align:center
}

.banner-video-paises div>p{
    color:#fff;
    font-family:Roboto;
    font-size:1.125rem;
    font-weight:700;
    text-align:center
}

.banner-video-paises .banner-video-paises__title,.banner-video-paises .banner-video-paises__franja{
    margin-top:auto
}

.banner-video-paises .banner-video-paises__button{
    margin-top:27px
}

.franja-fuentes{
    background:transparent linear-gradient(118deg,#ffffff66 0%,#ffffff0d 100%) 0% 0% no-repeat padding-box;
    border-radius:12px;
    backdrop-filter:blur(26px);
    padding:21px 18px;
    width:auto;
    max-width:100%
}

.franja-fuentes .fraja-fuentes__item{
    padding:0 12px;
    position:relative
}

.franja-fuentes .fraja-fuentes__item:after{
    content:'';
    width:4px;
    position:absolute;
    right:0;
    height:13px;
    border-radius:3px;
    background-color:#fff;
    top:6px
}

.franja-fuentes .fraja-fuentes__item.fraja-fuentes__item--line:after,.franja-fuentes .fraja-fuentes__item:last-child:after{
    content:inherit
}

.franja-fuentes .fraja-fuentes__item:first-child{
    padding-left:0
}

.franja-fuentes .fraja-fuentes__item:last-child{
    padding-right:0
}

.franja-fuentes .fraja-fuentes__item.fraja-fuentes__item--line{
    padding-right:8px
}

.franja-fuentes .fraja-fuentes__item .fraja-fuentes__contador{
    cursor:pointer;
    text-decoration:none
}

.franja-fuentes .fraja-fuentes__item .fraja-fuentes__contador:hover i.icon-up{
    color:#fff;
    transform:rotate(0deg);
    font-size:1.125rem
}

.franja-fuentes .fraja-fuentes__item .fraja-fuentes__contador:hover i.icon-up:before{
    content:"\e941"
}

.franja-fuentes .fraja-fuentes__item span{
    color:#fff;
    font-family:Poppins;
    font-size:.8125rem;
    font-weight:700;
    line-height:1
}

.franja-fuentes .fraja-fuentes__item .fraja-fuentes__item--claro{
    font-family:Roboto;
    font-weight:400;
    margin-left:9px;
    margin-right:7px
}

.franja-fuentes .fraja-fuentes__item .icon-up{
    color:#fff;
    font-size:.438rem;
    transform:rotate(90deg);
    display:inline-block;
    vertical-align:middle;
    margin-right:3px
}

.franja-fuentes .fraja-fuentes__item-hour{
    display:flex;
    justify-content:center;
    align-items:center
}

.franja-fuentes .fraja-fuentes__item-hour i{
    font-size:1.375rem;
    margin-right:10px
}

.franja-fuentes .fraja-fuentes__item-hour i.icon-sun{
    color:#ffc107
}

.franja-fuentes .fraja-fuentes__item-hour i.icon-night{
    color:#1a2fc9
}

.franja-fuentes .fraja-fuentes__item-hour img{
    width:31px;
    margin-top:-7px;
    margin-right:10px
}

.franja-fuentes .fraja-fuentes__item-saludo{
    margin-right:30px;
    position:relative
}

.franja-fuentes .fraja-fuentes__item-saludo:after{
    content:'';
    width:10px;
    position:absolute;
    right:-20px;
    height:4px;
    border-radius:3px;
    background-color:#fff;
    top:5px
}

@media(max-width:767px){
    .franja-fuentes .fraja-fuentes__item:after{
        content:inherit
    }
    .franja-fuentes .fraja-fuentes__item.fraja-fuentes__item--line{
        width:100%;
        text-align:center
    }
}