.planes.planes-container {
    align-items: center;
    /* box-shadow: 0px 0px 20px #6868681c; */
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 50px 30px;
    background-color: #f9f9f9;
    border-radius: 17px;
    width: 1233px;
}


#planes .planes-info .plan-info-title {
    color: #00A1C9;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Poppins;
    margin-bottom: 3px;
}
#planes .planes-info .plan-info-subtitle {
    color: #686868;
    font-size: 25px;
    font-weight: bold;
    font-family: Poppins;
}
#planes .planes-info {
    color: #686868;
    font-size: 16px;
    margin-top: 13px;
    text-align: left;
    font-family: Poppins;
}

.plan-info-description {
    color: #686868;
    font-size: 16px;
    margin-top: 13px;
    text-align: left;
    font-family: 'Roboto';
}


#planes .planes-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 770px;
    margin: auto;
    margin-bottom: 47px;
    text-align: center;
}
.cta-button {
    border-radius: 50px;
    color: #686868;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 59px 16px 30px;
    position: relative;
    background: #fff;
    font-family: Poppins;
}

.cta-button.shadow-button {
    box-shadow: 0 0 10px hsla(0, 0%, 41%, .21)
}

.cta-button.border-button {
    border: 2px solid #686868
}

.cta-button .cta-content {
    align-items: center;
    display: flex
}

.cta-button-icon-content,
.cta-button-text {
    display: inline-block
}

.cta-button-text {
    margin-right: 21px;
    transition: transform .2s ease-in-out, opacity .1s ease-in-out
}

.cta-button-icon-content {
    align-items: center;
    border-radius: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    height: 42px;
    width: 42px;
    position: absolute;
    right: 6px;
    transition: all .2s ease-in-out
}

.cta-button-icon-content .cta-button-icon-content-hidden-text {
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in .2s, visibility 1ms
}

.cta-button-icon-content .icon-Right {
    position: absolute;
    right: 13px;
    transition: visibility .2s ease-in, opacity .2s ease-out
}

.cta-button.info .cta-button-icon-content {
    background-color: #00a1c9
}

.cta-button.success .cta-button-icon-content {
    background-color: #73c914
}

.cta-button:hover {
    text-decoration: none
}

.cta-button:hover.border-button {
    border-color: transparent;
    cursor: pointer
}

.cta-button:hover .cta-button-text {
    opacity: 0;
    transform: translateX(6px)
}

.cta-button:hover .cta-button-icon-content {
    border-radius: 50px;
    height: 100%;
    right: 0;
    width: 100%
}

.cta-button:hover .cta-button-icon-content .cta-button-icon-content-hidden-text {
    visibility: visible;
    opacity: 1
}

.cta-button:hover .cta-button-icon-content .icon-Right {
    visibility: hidden;
    opacity: 0
}

#PriceCardsList .planes-listado-cards {
    display: flex;
    justify-content: space-between
}

#PriceCardsList .priceCard {
    background: #fff;
    border-radius: 28px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .102);
    color: #686868;
    padding: 71px 35px 32px;
    position: relative;
    max-width: 212px;
    min-width: 212px;
    min-height: 340px
}

#PriceCardsList .priceCard-discount {
    align-items: center;
    background: #c9003d;
    border-radius: 50%;
    display: flex;
    height: 34px;
    justify-content: center;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 34px
}

#PriceCardsList .priceCard-discount-text {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
}

#PriceCardsList .priceCard-ribbon {
    align-items: center;
    background-image: url(/public/images/planes/blue-badge.svg);
    background-repeat: no-repeat;
    display: flex;
    height: 36px;
    justify-content: center;
    left: -9px;
    position: absolute;
    top: 10px;
    width: 112px
}

#PriceCardsList .priceCard-ribbon-text {
    color: #fff;
    font-size: 15px;
    font-weight: bold
}

#PriceCardsList .priceCard-cta {
    text-align: center;
    margin: 17px 0 22px
}

#PriceCardsList .priceCard-cta-button {
    font-size: .75rem;
    padding: 12px
}

#PriceCardsList .priceCard-cta-button .cta-content .cta-button-text {
    margin-right: 34px
}

#PriceCardsList .priceCard-cta-button .cta-content .cta-button-icon-content {
    height: 28px;
    width: 28px
}

#PriceCardsList .priceCard-cta-button .cta-content .cta-button-icon-content .icon-Right {
    right: 9px
}

#PriceCardsList .priceCard-cta-button:hover {
    text-decoration: none
}

#PriceCardsList .priceCard-cta-button:hover.border-button {
    border-color: transparent
}

#PriceCardsList .priceCard-cta-button:hover .cta-button-text {
    opacity: 0;
    transform: translateX(6px)
}

#PriceCardsList .priceCard-cta-button:hover .cta-button-icon-content {
    border-radius: 50px;
    height: 100%;
    right: 0;
    width: 100%
}

#PriceCardsList .priceCard-cta-button:hover .cta-button-icon-content .cta-button-icon-content-hidden-text {
    visibility: visible;
    opacity: 1
}

#PriceCardsList .priceCard-cta-button:hover .cta-button-icon-content .icon-Right {
    visibility: hidden;
    opacity: 0
}

#PriceCardsList .priceCard-pricing {
    border-bottom: 2px solid;
    border-color: #f2f2f2;
    font-weight: bold;
    line-height: 22px;
    padding-bottom: 14px;
    position: relative;
    text-align: center;
}

#PriceCardsList .priceCard-price-popular-text {
    display: none
}

#PriceCardsList .priceCard-price-value {
    font-size: 20px;
    color : #686868;
    font-weight: bold;
    font-family: Poppins;
    margin-bottom: 0px;
}

#PriceCardsList .priceCard-money-description-text {
    font-size: 10px;
    color : #686868;
    font-weight: bold;
    font-family: Poppins;
}

#PriceCardsList .priceCard-benefits-text {
    font-size: 11.5px;
    text-align: left;
    color : #686868;
}

#PriceCardsList .priceCard.popular .priceCard-ribbon {
    background-image: url(/public/images/planes/yellow-badge.svg);
}

#PriceCardsList .priceCard.popular .priceCard-price-popular-text {
    color: #ffc107;
    display: block;
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    top: -24px;
    left: 30px
}

@media(max-width:1200px) {
    #PriceCardsList .planes-listado-cards {
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px
    }
}

@media(max-width:940px) {
    #PriceCardsList .planes-listado-cards {
        justify-content: center
    }
}

@media(max-width:497px) {
    #PriceCardsList .priceCard {
        min-height: auto
    }
}


/*Secion funcionalidades*/


#funcionalidades {
    color: #686868;
    font-family: Poppins;
    margin: 24px auto;
    padding: 23px 0px;
    width: 1280px;
}
#funcionalidades .funcionalidades-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 770px;
    margin: auto;
    margin-bottom: 47px;
    text-align: center;
}
#funcionalidades .funcionalidades-info-title {
    color: #73C914;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-family: Poppins;
}
#funcionalidades .funcionalidades-info-subtitle {
    color: #686868;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    font-family: Poppins;
}
#funcionalidades .funcionalidades-list-content {
    display: flex;
    font-family: 'Roboto';
}
#funcionalidades .funcionalidades-list-item {
    margin-bottom: 26px;
}
#funcionalidades .funcionalidades-list-item .funcionalidad {
    display: flex;
    align-items: center;
}
#funcionalidades .funcionalidades-list-item .funcionalidad.visit-funcionalities .mark-text {
    font-weight: bold;
    position: relative;
    margin-bottom: 0px;
}
#funcionalidades .funcionalidades-list-item .funcionalidad.visit-funcionalities a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #686868;
}
#funcionalidades .funcionalidades-list-item .funcionalidad.visit-funcionalities .icon {
    color: #00A1C9;
    transform: rotate(-90deg);
    font-size: .4rem;
    margin-left: 10px;
}
#funcionalidades .funcionalidades-list-item .funcionalidad-image {
    height: 49px;
    width: 49px;
}
#funcionalidades .funcionalidades-list-item .funcionalidad-text {
    font-size: 18px;
    text-align: left;
    margin-left: 21px;
    margin-bottom: 0px;
    
}
#funcionalidades .funcionalidades-content-button {
    margin-top: 28px;
    text-align: center;
}
#funcionalidades .funcionalidades-content-button #CTAButton {
    padding: 18px 25px;
}
#funcionalidades .funcionalidades-content-button #CTAButton .cta-button-text {
    margin-right: 38px;
}
#funcionalidades .funcionalidades-content-button #CTAButton .cta-button-icon-content-icon {
    transform: rotate(-90deg);
}

.mr-3{
    margin-right: 3%;
}
