.customers-cta-since-year {
    color: #00A1C9;
    font-size: 22px;
    font-family: Poppins;
    font-weight: bold;
    display: block;

}

.customers-cta-count-statistics {
    color: #686868;
    font-size: 20pt;
    font-family: Poppins;
    font-weight: bold;
    line-height: 25px;
}

.contenta-a {
    padding-right: 10%;
}

.customers-cta {
    padding-left: 40px;
}

.customersCarousel{overflow:hidden}.customersCarousel img{margin-right:44px;width:136px}.customersCarousel .carousel{display:flex;flex-direction:column}.customersCarousel .carousel-row{animation:carousel-backward-7d8b66fd 20s linear infinite;display:flex}.customersCarousel .carousel-row:nth-child(odd){animation:carousel-forward-7d8b66fd 20s linear infinite}@keyframes carousel-forward-7d8b66fd{0%{transform:translateX(0)}to{transform:translateX(-2720px)}}@keyframes carousel-backward-7d8b66fd{0%{transform:translateX(-2720px)}to{transform:translateX(0)}}


.cta-button { 
   border: 1px solid;
}

.cta-button:hover { 
    border: 0px solid;
 }

 .col-12{
    margin-top: 25px;
}

.customers {
    align-items: center;
    box-shadow: 0px 0px 20px #6868681c;
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 26px 30px;
}

.rounded-container {
    border-radius: 14px;
}