/*Boton Registrarse*/
.td-none {
    text-decoration: none;

}
span.cta-button-text {
    color: #686868;

}
.cta-button{
    border-radius:50px;
    color:#686868;
    display:inline-block;
    font-size:1rem;
    font-weight:700;
    padding:16px 59px 16px 30px;
    position:relative;

}
.cta-button.shadow-button{
    box-shadow:0 0 10pxhsla(0,0%,41%,.21);

}
.cta-button.border-button{
    border:2px solid #686868
}
.cta-button .cta-content{
    align-items:center;

    display:flex
}

/*1*/
.cta-button-icon-content-asesor,.cta-button-text{
    display:inline-block
}
.cta-button-text{
    margin-right:21px;

    transition:transform .2s ease-in-out,opacity .1s ease-in-out
}
/*2*/
.cta-button-icon-content-asesor{
    align-items:center;
    border-radius:50px;
    color:#fff;
    display:flex;
    justify-content:center;
    height:42px;
    width:42px;
    position:absolute;
    right:6px;
    transition:all .2s ease-in-out
}
.cta-button-icon-content-asesor .cta-button-icon-content-hidden-text{
    visibility:hidden;
    opacity:0;
    transition:all .3s ease-in .2s,visibility 1ms
}
.cta-button-icon-content-asesor .icon-Right{
    position:absolute;
    right:13px;
    transition:visibility .2s ease-in,opacity .2s ease-out
}
.cta-button.info .cta-button-icon-content-asesor{
    background-color:#00a1c9
}
.cta-button.success {
    background-color:blue
}

/*color icono*/
.cta-button-icon-content-asesor{
    background-color:#00A1C9
}
.cta-button:hover{
    text-decoration:none
}
.cta-button:hover.border-button{
    border-color:transparent;
    cursor:pointer
}
.cta-button:hover .cta-button-text{
    opacity:0;
    transform:translateX(6px)
}
.cta-button:hover .cta-button-icon-content-asesor{
    border-radius:50px;
    height:100%;
    right:0;
    width:100%
}
.cta-button:hover .cta-button-icon-content-asesor .cta-button-icon-content-hidden-text{
    visibility:visible;
    opacity:1
}
.cta-button:hover .cta-button-icon-content-asesor .icon-Right{
    visibility:hidden;
    opacity:0
}


