.contenedor-planes {
    display: flex;
    flex-direction: row;
}

body {
    overflow-y: hidden;
}

a {
    text-align: center;
    font-weight: bold;
}

.posicion-opciones-planes {
    margin-top: 58px;
}

ul {
    padding-left: 0px !important;
}

a {
    color: unset !important;
    text-decoration: none !important;
}

html {
    background-color: #f3f4f6;
}

.modal-header,
.btn-info {
    background: #1383ac;
    color: #fff;
}

input.btn.btn-info {
    background: #1383ac;
    border-color: #1383ac;
    color: #fff;
}

th {
    font-size: 12px;
}

.name_section_app {
    text-align: center;
    display: block;
    max-width: 410px;
    margin: 0 auto;
    color: #00a1c9;
    font-family: Nexa-bold, sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 5px;
    border: 0;
    background-image: linear-gradient(
        90deg,
        #e1e1e1 0,
        #e1e1e1 50%,
        transparent 0
    );
    background-size: 16px 2px;
    background-position: bottom;
    background-repeat: repeat-x;
}

.planes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #00a1c9 !important;
    font-weight: bold;
    font-size: 22px;
    justify-content: space-between;
    height: 40px;
    margin-bottom: -5px;
}

.margen-superior {
    margin-top: 10px !important;
}

.contenedor-botones {
    display: flex;
    flex-direction: row;
}

.actualizar-color {
    color: #00a1c9;
}

.autorenew {
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    border-bottom: solid 1px #b5b5b5;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    padding: 5px;
    color: black;
}

.add_circle {
    background-color: rgb(58, 182, 0);
    width: 35px;
    height: 35px;
    border-bottom: solid 1px #b5b5b5;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;
}

.material-symbols-outlined-color {
    color: white;
}

.crear {
    background: rgb(0, 161, 201);
    color: #fff !important;
    border-radius: 5px;
    padding: 7px;
    font-size: 14px;
    margin-bottom: 16px;
    cursor: pointer;
}

.sector,
.segmento,
input.actividad-economica {
    width: 100%;
    border-radius: 22px !important;
}

.btn-new-blue {
    color: #00a1c9 !important;
    border: 1px solid #00a1c9 !important;
}

.btnRadius {
    border-radius: 40px !important;
}

.btn-new-blue:hover {
    background: #00a1c9 !important;
    color: #fff !important;
}

.btn-new-red {
    color: #dc3545 !important;
    border: 1px solid #dc3545 !important;
}

.btn-new-red:hover {
    background: #dc3545 !important;
    color: #fff !important;
}

.failed {
    border-color: rgb(220, 53, 69) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
    background-size: 18px !important;
}
