/*Mínima*/
.bt-2-red {
    border-top: 2px solid rgb(201, 40, 0) !important;
}

.br-2-red {
    border-right: 2px solid rgb(201, 40, 0) !important;
}

.bb-2-red {
    border-bottom: 2px solid rgb(201, 40, 0) !important;
}

.bl-2-red {
    border-left: 2px solid rgb(201, 40, 0) !important;
}

.c-red {
    color: rgb(201, 40, 0) !important;
}

/*Media*/
.bt-2-yellow {
    border-top: 2px solid rgb(255, 193, 7) !important;
}

.br-2-yellow {
    border-right: 2px solid rgb(255, 193, 7) !important;
}

.bb-2-yellow {
    border-bottom: 2px solid rgb(255, 193, 7) !important;
}

.bl-2-yellow {
    border-left: 2px solid rgb(255, 193, 7) !important;
}

.c-yellow {
    color: rgb(255, 193, 7) !important;
}

/*Fuerte*/
.bt-2-green {
    border-top: 2px solid rgb(115, 201, 20) !important;
}

.br-2-green {
    border-right: 2px solid rgb(115, 201, 20) !important;
}

.bb-2-green {
    border-bottom: 2px solid rgb(115, 201, 20) !important;
}

.bl-2-green {
    border-left: 2px solid rgb(115, 201, 20) !important;
}

.c-green {
    color: rgb(115, 201, 20) !important;
}

/*Muy fuerte*/
.bt-2-green-dark {
    border-top: 2px solid rgb(89, 166, 5) !important;
}

.br-2-green-dark {
    border-right: 2px solid rgb(89, 166, 5) !important;
}

.bb-2-green-dark {
    border-bottom: 2px solid rgb(89, 166, 5) !important;
}

.bl-2-green-dark {
    border-left: 2px solid rgb(89, 166, 5) !important;
}

.c-green-dark {
    color: rgb(89, 166, 5) !important;
}

/* 
font-family: "Poppins", sans-serif;
font-family: "Roboto", sans-serif; 
*/

span.contenido__seguridad-text {
    line-height: 1rem !important;
}

div#inputPaswordUserRegisterComponent {
    border: none !important;
}

.contenido__password-div-input {
    color: #9c9b9b;
    font-size: 14px;
    font-weight: 400;
    font-family: Roboto;
}

.contenido__password-div-input::placeholder {
    color: #9c9b9b;
    font-size: 14px;
    font-weight: 400;
    font-family: Poppins;
}

.contenido__password-div .error-icon {
    color: #c9003d;
    font-size: 14px;
    font-weight: 400;
    font-family: Poppins;
}

/* Popover */
.popover {
    border: none !important;
}

.popover-body {
    background-color: white;
    width: 400px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.3);
}
#popover-trigger-hover-focus .contenido-popover-register {
    display: flex;
    justify-content: center;
    padding: 15px 25px;
}

#popover-trigger-hover-focus .title {
    color: #6b6b6b;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
}

#popover-trigger-hover-focus .contenido__informacion-seguridad p {
    color: #6b6b6b;
    font-size: 17px;
    margin-left: 30px;
}

#popover-trigger-hover-focus .espacio-opciones {
    position: relative;
    padding: 5px 1px;
}

#popover-trigger-hover-focus .contenido__seguridad-icon {
    position: absolute;
    top: 11px;
}

#popover-trigger-hover-focus hr {
    width: 300px;
    border: solid gray 1.5px;
    text-align: center;
    padding: 0;
    margin: 0 0 10px 0;
}
