footer {
    background: rgb(123, 229, 255);
    background: linear-gradient(
        90deg,
        rgba(123, 229, 255, 1) 0%,
        rgba(96, 196, 221, 1) 20%,
        rgba(0, 161, 201, 1) 100%
    );
    height: 420px;
    width: auto;
}

.container {
    width: auto;
}

.container-flex {
    display: flex;
    justify-content: space-evenly;
    padding: 52px 0;
}

.size-msj {
    width: 343px;
    height: 116px;
    margin: 50px 0 0 40px;
    line-height: 25px;
}

.typography-msj {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 25px;
    text-align: left;
}

.typography-msj {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 25px;
    text-align: left;
    line-height: 30px;
}

.size-support {
    width: 212px;
    height: 174px;
    margin: 0px 0px 0px 230px;
    padding-left: 50px;
}

.size-politics {
    width: 212px;
    height: 174px;
    margin: 0px 100px 0px 0px;
    padding-left: 60px;
}

.typography-support-politics {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 20px;
    text-align: left;
}

.text-footer {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 14px;
    text-align: left;
    line-height: 35px;
    text-decoration: none;
}

.text-footer:hover a {
    color: white;
    text-decoration: underline;
}

.margin-text-lici {
    margin-top: 7px;
    margin-left: 77px;
}

.support-text {
    line-height: 35px;
}

.support-text:hover {
    color: white;
}

.facebook:hover {
    color: #3b5998;
}

.youtube:hover {
    color: #c4302b;
}

.twitter:hover {
    color: #00acee;
}

ul {
    padding-left: 0 !important;
}
