#ModalTC .modal-header-tc {
    overflow: hidden;
}

#ModalTC .nav-pills .nav-link.active,
#ModalTC .nav-pills .show > .nav-link {
    color: white;
    /* background-color: white !important; */
}

#ModalTC .container-termcond {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 55px;
}

#ModalTC .termcond {
    margin: 0;
}

#ModalTC .termcond-index {
    margin: 0;
    padding: 25px;
    position: fixed;
    width: 290px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #68686814;
    border-radius: 17px;
    opacity: 1;
    max-width: 100vw;
    height: 90vh;
    max-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #686868;
    border: solid white 10px;
}

#ModalTC a.nav-link.active {
    display: block;
    color: #00a1c9 !important;
    text-decoration: none;
    font-weight: 600;
    background-color: white !important;
    margin: 0 !important;
}

#ModalTC .termcond-info {
    margin: 0px 0px 20px 320px;
    overflow-y: scroll;
    padding: 25px 45px;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #68686814;
    opacity: 1;
    width: 100vw;
    max-width: 100vw;
    height: 90vh;
    max-height: 100vh;
    position: relative;
    border: solid white 10px;
}

#ModalTC .termcond-info hr {
    margin: 25px 25px;
    color: rgba(94, 94, 94, 0.418);
    border: 0;
    border-top: 1px solid;
    opacity: 0.25;
    width: auto;
}

#ModalTC .termcond hr {
    margin: 0 25px;
    color: rgba(94, 94, 94, 0.418);
    border: 0;
    border-top: 1px solid;
    opacity: 0.25;
    width: 200px;
}

#ModalTC .termcond-title {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    text-align: left;
    font-weight: bold;
}

#ModalTC .termcond-subtitles {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    color: #00a1c9;
}

#ModalTC .termcond-info p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #686868;
    padding-right: 20px;
}

#ModalTC .termcond a {
    font-family: "Roboto", sans-serif;
    display: block;
    color: #686868;
    padding: 10px 25px 10px 20px;
    text-decoration: none;
    font-size: 15px;
}

#ModalTC .termcond a:hover {
    color: #686868;
}

#ModalTC .icon-up {
    font-size: 7px;
}

#ModalTC .termcond-title-cont {
    color: #00a1c9;
    font-weight: bold;
    margin-bottom: 10px;
}

#ModalTC .btn-tc {
    width: 33px;
    height: 33px;
    position: fixed;
    left: 93.5vw;
    background-color: #e9e9e9;
    color: #353535;
    border: none;
    padding: 5px;
    font-size: 31px;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: rotate(-4deg);
}

#ModalTC .btn-tc:hover {
    background-color: #d10000;
    color: rgb(179, 179, 179);
}

#ModalTC .x-tc {
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;
    margin-bottom: 5px;
    color: #686868;
    padding: 5px 10px;
}

#ModalTC .x-tc:hover {
    color: rgb(255, 230, 230);
}

#ModalTC .modal-content-tc {
    background: #68686800 0% 0% no-repeat padding-box !important;
    opacity: 1;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    border-radius: 0% !important;
    -webkit-border-radius: 0% !important;
    -moz-border-radius: 0% !important;
    -ms-border-radius: 0% !important;
    -o-border-radius: 0% !important;
}

#ModalTC .modal-tc {
    /* Occupy the 100% of the screen width */
    width: 100vw !important;
    max-width: 95vw !important;
}

#ModalTC .modal-header {
    border-bottom: 0px !important;
    margin-top: -66px !important;
}

/* Scroll personalizado */

/* Scrollbar info*/
/* Firefox */
#ModalTC .termcond-info {
    scrollbar-width: auto !important;
    scrollbar-color: #ffffff #c2ebff !important;
}

#ModalTC .termcond-index {
    scrollbar-width: auto !important;
    scrollbar-color: #ffffff #c2ebff !important;
}

/* Chrome, Edge, and Safari */
#ModalTC .termcond-info::-webkit-scrollbar {
    width: 6px !important;
}

/* Chrome, Edge, and Safari */
#ModalTC .termcond-index::-webkit-scrollbar {
    width: 6px !important;
}

#ModalTC .termcond-info::-webkit-scrollbar-track {
    background: #c2ebff !important;
}

#ModalTC .termcond-index::-webkit-scrollbar-track {
    background: #c2ebff !important;
}

#ModalTC .termcond-info::-webkit-scrollbar-thumb {
    background-color: #ffffff !important;
    border-radius: 0px !important;
    border: 6px solid #bfbfbf !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

#ModalTC .termcond-index::-webkit-scrollbar-thumb {
    background-color: #ffffff !important;
    border-radius: 0px !important;
    border: 6px solid #bfbfbf !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}
/*Fin*/
